ddt
lxml
napalm-eos
napalm-fortios
napalm-ios
napalm-iosxr
napalm-junos
napalm-nxos
napalm-panos
napalm-pluribus
napalm-ros
napalm-vyos
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
